parameters:
    level: 8
    paths:
        - src
        - tests
    excludePaths:
        - tests/TestCase.php
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false 